--
-- PostgreSQL database dump
--

\restrict RAuSPyMSmdSbQgpGaMudvAWKvg4kJuj4Gmjzjf58xeTDBfOIwy2M62tzpALL8iy

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'WIN1252';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CotisationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CotisationStatus" AS ENUM (
    'PENDING',
    'PAID',
    'LATE',
    'MISSING'
);


ALTER TYPE public."CotisationStatus" OWNER TO postgres;

--
-- Name: CycleStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CycleStatus" AS ENUM (
    'OPEN',
    'WAITING',
    'DISBURSED',
    'CANCELLED'
);


ALTER TYPE public."CycleStatus" OWNER TO postgres;

--
-- Name: DeliveryStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DeliveryStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public."DeliveryStatus" OWNER TO postgres;

--
-- Name: FrequenceType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."FrequenceType" AS ENUM (
    'JOURNALIER',
    'HEBDOMADAIRE',
    'MENSUEL',
    'TRIMESTRIEL'
);


ALTER TYPE public."FrequenceType" OWNER TO postgres;

--
-- Name: MemberRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MemberRole" AS ENUM (
    'CREATOR',
    'MEMBER'
);


ALTER TYPE public."MemberRole" OWNER TO postgres;

--
-- Name: MemberStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MemberStatus" AS ENUM (
    'INVITED',
    'ACTIVE',
    'REMOVED'
);


ALTER TYPE public."MemberStatus" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'TONTINE_PAYMENT_DUE',
    'TONTINE_PAYMENT_RECEIVED',
    'TONTINE_TURN_WON',
    'TONTINE_CYCLE_COMPLETE',
    'WALLET_CREDIT',
    'WALLET_DEBIT',
    'MARKETPLACE_PURCHASE',
    'MARKETPLACE_SALE',
    'SYSTEM'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: ProductStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProductStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'OUT_OF_STOCK'
);


ALTER TYPE public."ProductStatus" OWNER TO postgres;

--
-- Name: ReferralRewardType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReferralRewardType" AS ENUM (
    'PENALTY_CREDIT',
    'CASHBACK',
    'NONE'
);


ALTER TYPE public."ReferralRewardType" OWNER TO postgres;

--
-- Name: ReferralStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReferralStatus" AS ENUM (
    'PENDING',
    'VALIDATED',
    'EXPIRED'
);


ALTER TYPE public."ReferralStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'MANAGER',
    'USER'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: TontineFrequency; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TontineFrequency" AS ENUM (
    'DAILY',
    'WEEKLY',
    'BIWEEKLY',
    'MONTHLY'
);


ALTER TYPE public."TontineFrequency" OWNER TO postgres;

--
-- Name: TontineStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TontineStatus" AS ENUM (
    'PENDING',
    'ACTIVE',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."TontineStatus" OWNER TO postgres;

--
-- Name: TransactionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'FAILED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public."TransactionStatus" OWNER TO postgres;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionType" AS ENUM (
    'DEPOSIT',
    'WITHDRAW',
    'TRANSFER',
    'TONTINE_PAYMENT',
    'TONTINE_PAYOUT',
    'PRODUCT_PURCHASE'
);


ALTER TYPE public."TransactionType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL,
    emoji text DEFAULT ''::text NOT NULL,
    slug text NOT NULL,
    country text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id text NOT NULL,
    post_id text NOT NULL,
    user_id text NOT NULL,
    content text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: cotisations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cotisations (
    id text NOT NULL,
    cycle_id text NOT NULL,
    member_id text NOT NULL,
    montant double precision NOT NULL,
    penalite double precision DEFAULT 0 NOT NULL,
    total_paye double precision DEFAULT 0 NOT NULL,
    status public."CotisationStatus" DEFAULT 'PENDING'::public."CotisationStatus" NOT NULL,
    transaction_id text,
    provider text,
    paid_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cotisations OWNER TO postgres;

--
-- Name: follows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.follows (
    id text NOT NULL,
    follower_id text NOT NULL,
    following_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.follows OWNER TO postgres;

--
-- Name: mock_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mock_transactions (
    id text NOT NULL,
    wallet_id text NOT NULL,
    type text NOT NULL,
    amount double precision NOT NULL,
    description text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.mock_transactions OWNER TO postgres;

--
-- Name: mock_wallets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mock_wallets (
    id text NOT NULL,
    user_id text NOT NULL,
    balance double precision DEFAULT 100000 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.mock_wallets OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    user_id text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    type public."NotificationType" NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    metadata jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: pending_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pending_payments (
    id text NOT NULL,
    reference text NOT NULL,
    tontine_id text NOT NULL,
    user_id text NOT NULL,
    cycle_id text NOT NULL,
    amount numeric(15,2) NOT NULL,
    provider text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    cotisation_id text
);


ALTER TABLE public.pending_payments OWNER TO postgres;

--
-- Name: post_likes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.post_likes (
    id text NOT NULL,
    post_id text NOT NULL,
    user_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.post_likes OWNER TO postgres;

--
-- Name: post_views; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.post_views (
    id text NOT NULL,
    post_id text NOT NULL,
    user_id text,
    watched_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    duration integer
);


ALTER TABLE public.post_views OWNER TO postgres;

--
-- Name: posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.posts (
    id text NOT NULL,
    user_id text NOT NULL,
    video_url text,
    description text,
    likes_count integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    comments_count integer DEFAULT 0 NOT NULL,
    thumbnail_url text,
    views_count integer DEFAULT 0 NOT NULL,
    image_url text,
    media_type text
);


ALTER TABLE public.posts OWNER TO postgres;

--
-- Name: product_purchases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_purchases (
    id text NOT NULL,
    product_id text NOT NULL,
    buyer_id text NOT NULL,
    quantity integer NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    status public."TransactionStatus" DEFAULT 'PENDING'::public."TransactionStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    confirmed_at timestamp(3) without time zone,
    delivered_at timestamp(3) without time zone,
    delivery_status public."DeliveryStatus" DEFAULT 'PENDING'::public."DeliveryStatus" NOT NULL,
    seller_note text,
    shipped_at timestamp(3) without time zone,
    shipping_address text
);


ALTER TABLE public.product_purchases OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    seller_id text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(15,2) NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    image_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    status public."ProductStatus" DEFAULT 'ACTIVE'::public."ProductStatus" NOT NULL,
    category_id text,
    "approvedAt" timestamp(3) without time zone,
    "approvedBy" text,
    "isApproved" boolean DEFAULT false NOT NULL,
    city text,
    country text,
    images text[] DEFAULT ARRAY[]::text[],
    whatsapp text
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: referrals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referrals (
    id text NOT NULL,
    referrer_id text NOT NULL,
    referred_id text NOT NULL,
    tontine_id text,
    status public."ReferralStatus" DEFAULT 'PENDING'::public."ReferralStatus" NOT NULL,
    reward_type public."ReferralRewardType" DEFAULT 'PENALTY_CREDIT'::public."ReferralRewardType" NOT NULL,
    reward_value numeric(10,2) DEFAULT 1 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    validated_at timestamp(3) without time zone,
    expires_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.referrals OWNER TO postgres;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    id text NOT NULL,
    post_id text NOT NULL,
    user_id text NOT NULL,
    reason text NOT NULL,
    details text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: tontine_cycles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tontine_cycles (
    id text NOT NULL,
    tontine_id text NOT NULL,
    cycle_number integer NOT NULL,
    beneficiary_id text NOT NULL,
    date_debut timestamp(3) without time zone NOT NULL,
    date_fin timestamp(3) without time zone NOT NULL,
    date_paiement timestamp(3) without time zone,
    montant_total double precision NOT NULL,
    status public."CycleStatus" DEFAULT 'OPEN'::public."CycleStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.tontine_cycles OWNER TO postgres;

--
-- Name: tontine_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tontine_members (
    id text NOT NULL,
    tontine_id text NOT NULL,
    user_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    role public."MemberRole" DEFAULT 'MEMBER'::public."MemberRole" NOT NULL,
    status public."MemberStatus" DEFAULT 'INVITED'::public."MemberStatus" NOT NULL,
    tour_order integer,
    joined_at timestamp(3) without time zone
);


ALTER TABLE public.tontine_members OWNER TO postgres;

--
-- Name: tontines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tontines (
    id text NOT NULL,
    description text NOT NULL,
    status public."TontineStatus" DEFAULT 'PENDING'::public."TontineStatus" NOT NULL,
    creator_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    current_cycle integer DEFAULT 0 NOT NULL,
    titre text NOT NULL,
    montant double precision NOT NULL,
    nombre_membres integer NOT NULL,
    frequence public."FrequenceType" NOT NULL,
    taux_penalite double precision DEFAULT 0 NOT NULL,
    date_debut timestamp(3) without time zone NOT NULL,
    invitation_token text NOT NULL,
    invitation_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tontines OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id text NOT NULL,
    sender_id text,
    receiver_id text,
    amount numeric(15,2) NOT NULL,
    type public."TransactionType" NOT NULL,
    status public."TransactionStatus" DEFAULT 'PENDING'::public."TransactionStatus" NOT NULL,
    metadata jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    commission numeric(10,2),
    reference text,
    note text
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    fullname text NOT NULL,
    email text NOT NULL,
    phone text,
    password_hash text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    wallet_balance numeric(15,2) DEFAULT 0 NOT NULL,
    avatar_url text,
    is_active boolean DEFAULT true NOT NULL,
    refresh_token_hash text,
    refresh_token_expires_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    ref_code text,
    penalty_credits integer DEFAULT 0 NOT NULL,
    followers_count integer DEFAULT 0 NOT NULL,
    following_count integer DEFAULT 0 NOT NULL,
    city text,
    country text,
    whatsapp text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, emoji, slug, country, created_at) FROM stdin;
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (id, post_id, user_id, content, created_at) FROM stdin;
192e620f-e10d-4cea-bdd3-bd6e69e9b023	1c48021e-a78d-434e-8d65-09ffc4438109	ef70dc03-e54e-4eab-967e-28d47c733630	Jvcjc	2026-02-24 14:43:42.01
\.


--
-- Data for Name: cotisations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cotisations (id, cycle_id, member_id, montant, penalite, total_paye, status, transaction_id, provider, paid_at, created_at) FROM stdin;
c14d03e2-acd8-4a34-b00f-143bca0ba814	ff38812d-9ed7-49e3-963e-cb905efa1a12	631d3991-1c1e-43d6-8221-08598ffc2bdf	500000	0	0	PENDING	\N	\N	\N	2026-02-24 16:10:11.673
a172b24e-9418-4a2e-aacf-33135190c32b	ff38812d-9ed7-49e3-963e-cb905efa1a12	ebe8d47d-952f-4cad-9c45-4c3e2cb688f6	500000	0	500000	PAID	TONTINE-WALLET-638904d1-b3a3-4992-a6ee-deb0ae061123-1771949546117	WALLET	2026-02-24 16:12:26.116	2026-02-24 16:10:11.673
\.


--
-- Data for Name: follows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.follows (id, follower_id, following_id, created_at) FROM stdin;
0eed7ec5-65e5-4a38-912d-a3db14276c71	ff522af5-bd47-45a7-bb6e-6e66fb9ddd67	1e6b6d01-46da-462b-be73-718e0de70985	2026-02-23 15:11:51.419
6dba62d4-8e2a-41c5-88de-3140d44a637d	e5a05a0d-8911-4552-8337-09e8e409972e	ff522af5-bd47-45a7-bb6e-6e66fb9ddd67	2026-02-23 22:33:03.746
\.


--
-- Data for Name: mock_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mock_transactions (id, wallet_id, type, amount, description, created_at) FROM stdin;
\.


--
-- Data for Name: mock_wallets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mock_wallets (id, user_id, balance, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, title, body, type, is_read, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: pending_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pending_payments (id, reference, tontine_id, user_id, cycle_id, amount, provider, created_at, cotisation_id) FROM stdin;
\.


--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: post_views; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_purchases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_purchases (id, product_id, buyer_id, quantity, total_amount, status, created_at, confirmed_at, delivered_at, delivery_status, seller_note, shipped_at, shipping_address) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, seller_id, name, description, price, stock, image_url, created_at, updated_at, status, category_id, "approvedAt", "approvedBy", "isApproved", city, country, images, whatsapp) FROM stdin;
\.


--
-- Data for Name: referrals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.referrals (id, referrer_id, referred_id, tontine_id, status, reward_type, reward_value, created_at, validated_at, expires_at) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports (id, post_id, user_id, reason, details, created_at) FROM stdin;
\.


--
-- Data for Name: tontine_cycles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tontine_cycles (id, tontine_id, cycle_number, beneficiary_id, date_debut, date_fin, date_paiement, montant_total, status, created_at) FROM stdin;
ff38812d-9ed7-49e3-963e-cb905efa1a12	638904d1-b3a3-4992-a6ee-deb0ae061123	1	631d3991-1c1e-43d6-8221-08598ffc2bdf	2026-02-24 21:31:25.613	2026-02-24 23:59:59.999	\N	1000000	OPEN	2026-02-24 16:10:11.662
229a4a30-c1cc-42fd-a3ef-81afb7858042	638904d1-b3a3-4992-a6ee-deb0ae061123	2	ebe8d47d-952f-4cad-9c45-4c3e2cb688f6	2026-02-25 21:31:25.613	2026-02-25 23:59:59.999	\N	1000000	OPEN	2026-02-24 16:10:11.662
\.


--
-- Data for Name: tontine_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tontines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: cotisations cotisations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cotisations
    ADD CONSTRAINT cotisations_pkey PRIMARY KEY (id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (id);


--
-- Name: mock_transactions mock_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mock_transactions
    ADD CONSTRAINT mock_transactions_pkey PRIMARY KEY (id);


--
-- Name: mock_wallets mock_wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mock_wallets
    ADD CONSTRAINT mock_wallets_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: pending_payments pending_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_payments
    ADD CONSTRAINT pending_payments_pkey PRIMARY KEY (id);


--
-- Name: post_likes post_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_pkey PRIMARY KEY (id);


--
-- Name: post_views post_views_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_views
    ADD CONSTRAINT post_views_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: product_purchases product_purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_purchases
    ADD CONSTRAINT product_purchases_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: referrals referrals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: tontine_cycles tontine_cycles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontine_cycles
    ADD CONSTRAINT tontine_cycles_pkey PRIMARY KEY (id);


--
-- Name: tontine_members tontine_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontine_members
    ADD CONSTRAINT tontine_members_pkey PRIMARY KEY (id);


--
-- Name: tontines tontines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontines
    ADD CONSTRAINT tontines_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_ref_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_ref_code_key UNIQUE (ref_code);


--
-- Name: categories_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_name_key ON public.categories USING btree (name);


--
-- Name: categories_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_slug_key ON public.categories USING btree (slug);


--
-- Name: comments_post_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comments_post_id_idx ON public.comments USING btree (post_id);


--
-- Name: cotisations_cycle_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cotisations_cycle_id_idx ON public.cotisations USING btree (cycle_id);


--
-- Name: cotisations_cycle_id_member_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX cotisations_cycle_id_member_id_key ON public.cotisations USING btree (cycle_id, member_id);


--
-- Name: cotisations_member_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cotisations_member_id_idx ON public.cotisations USING btree (member_id);


--
-- Name: follows_follower_id_following_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX follows_follower_id_following_id_key ON public.follows USING btree (follower_id, following_id);


--
-- Name: mock_transactions_wallet_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mock_transactions_wallet_id_idx ON public.mock_transactions USING btree (wallet_id);


--
-- Name: mock_wallets_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX mock_wallets_user_id_key ON public.mock_wallets USING btree (user_id);


--
-- Name: notifications_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_created_at_idx ON public.notifications USING btree (created_at);


--
-- Name: notifications_is_read_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_is_read_idx ON public.notifications USING btree (is_read);


--
-- Name: notifications_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_user_id_idx ON public.notifications USING btree (user_id);


--
-- Name: pending_payments_reference_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pending_payments_reference_idx ON public.pending_payments USING btree (reference);


--
-- Name: pending_payments_reference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX pending_payments_reference_key ON public.pending_payments USING btree (reference);


--
-- Name: pending_payments_tontine_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pending_payments_tontine_id_idx ON public.pending_payments USING btree (tontine_id);


--
-- Name: post_likes_post_id_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX post_likes_post_id_user_id_key ON public.post_likes USING btree (post_id, user_id);


--
-- Name: posts_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX posts_created_at_idx ON public.posts USING btree (created_at);


--
-- Name: posts_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX posts_user_id_idx ON public.posts USING btree (user_id);


--
-- Name: product_purchases_buyer_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_purchases_buyer_id_idx ON public.product_purchases USING btree (buyer_id);


--
-- Name: product_purchases_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_purchases_created_at_idx ON public.product_purchases USING btree (created_at);


--
-- Name: product_purchases_product_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_purchases_product_id_idx ON public.product_purchases USING btree (product_id);


--
-- Name: products_category_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_id_idx ON public.products USING btree (category_id);


--
-- Name: products_country_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_country_idx ON public.products USING btree (country);


--
-- Name: products_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_created_at_idx ON public.products USING btree (created_at);


--
-- Name: products_seller_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_seller_id_idx ON public.products USING btree (seller_id);


--
-- Name: products_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_status_idx ON public.products USING btree (status);


--
-- Name: referrals_referred_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX referrals_referred_id_idx ON public.referrals USING btree (referred_id);


--
-- Name: referrals_referrer_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX referrals_referrer_id_idx ON public.referrals USING btree (referrer_id);


--
-- Name: referrals_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX referrals_status_idx ON public.referrals USING btree (status);


--
-- Name: reports_post_id_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX reports_post_id_user_id_key ON public.reports USING btree (post_id, user_id);


--
-- Name: tontine_cycles_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tontine_cycles_status_idx ON public.tontine_cycles USING btree (status);


--
-- Name: tontine_cycles_tontine_id_cycle_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tontine_cycles_tontine_id_cycle_number_key ON public.tontine_cycles USING btree (tontine_id, cycle_number);


--
-- Name: tontine_cycles_tontine_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tontine_cycles_tontine_id_idx ON public.tontine_cycles USING btree (tontine_id);


--
-- Name: tontine_members_tontine_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tontine_members_tontine_id_idx ON public.tontine_members USING btree (tontine_id);


--
-- Name: tontine_members_tontine_id_tour_order_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tontine_members_tontine_id_tour_order_key ON public.tontine_members USING btree (tontine_id, tour_order) WHERE (tour_order IS NOT NULL);


--
-- Name: tontine_members_tontine_id_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tontine_members_tontine_id_user_id_key ON public.tontine_members USING btree (tontine_id, user_id);


--
-- Name: tontine_members_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tontine_members_user_id_idx ON public.tontine_members USING btree (user_id);


--
-- Name: tontines_creator_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tontines_creator_id_idx ON public.tontines USING btree (creator_id);


--
-- Name: tontines_invitation_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tontines_invitation_token_idx ON public.tontines USING btree (invitation_token);


--
-- Name: tontines_invitation_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tontines_invitation_token_key ON public.tontines USING btree (invitation_token);


--
-- Name: tontines_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tontines_status_idx ON public.tontines USING btree (status);


--
-- Name: transactions_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_created_at_idx ON public.transactions USING btree (created_at);


--
-- Name: transactions_receiver_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_receiver_id_idx ON public.transactions USING btree (receiver_id);


--
-- Name: transactions_reference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX transactions_reference_key ON public.transactions USING btree (reference);


--
-- Name: transactions_sender_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_sender_id_idx ON public.transactions USING btree (sender_id);


--
-- Name: transactions_type_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_type_status_idx ON public.transactions USING btree (type, status);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: comments comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cotisations cotisations_cycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cotisations
    ADD CONSTRAINT cotisations_cycle_id_fkey FOREIGN KEY (cycle_id) REFERENCES public.tontine_cycles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cotisations cotisations_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cotisations
    ADD CONSTRAINT cotisations_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.tontine_members(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: follows follows_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: follows follows_following_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_following_id_fkey FOREIGN KEY (following_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: mock_transactions mock_transactions_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mock_transactions
    ADD CONSTRAINT mock_transactions_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.mock_wallets(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: mock_wallets mock_wallets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mock_wallets
    ADD CONSTRAINT mock_wallets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pending_payments pending_payments_tontine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_payments
    ADD CONSTRAINT pending_payments_tontine_id_fkey FOREIGN KEY (tontine_id) REFERENCES public.tontines(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pending_payments pending_payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pending_payments
    ADD CONSTRAINT pending_payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: post_likes post_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: post_likes post_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: post_views post_views_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_views
    ADD CONSTRAINT post_views_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: post_views post_views_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_views
    ADD CONSTRAINT post_views_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: posts posts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_purchases product_purchases_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_purchases
    ADD CONSTRAINT product_purchases_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_purchases product_purchases_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_purchases
    ADD CONSTRAINT product_purchases_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: referrals referrals_referred_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_referred_id_fkey FOREIGN KEY (referred_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: referrals referrals_referrer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_referrer_id_fkey FOREIGN KEY (referrer_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reports reports_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reports reports_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tontine_cycles tontine_cycles_beneficiary_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontine_cycles
    ADD CONSTRAINT tontine_cycles_beneficiary_id_fkey FOREIGN KEY (beneficiary_id) REFERENCES public.tontine_members(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tontine_cycles tontine_cycles_tontine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontine_cycles
    ADD CONSTRAINT tontine_cycles_tontine_id_fkey FOREIGN KEY (tontine_id) REFERENCES public.tontines(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tontine_members tontine_members_tontine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontine_members
    ADD CONSTRAINT tontine_members_tontine_id_fkey FOREIGN KEY (tontine_id) REFERENCES public.tontines(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tontine_members tontine_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontine_members
    ADD CONSTRAINT tontine_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tontines tontines_creator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tontines
    ADD CONSTRAINT tontines_creator_id_fkey FOREIGN KEY (creator_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transactions transactions_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: transactions transactions_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict RAuSPyMSmdSbQgpGaMudvAWKvg4kJuj4Gmjzjf58xeTDBfOIwy2M62tzpALL8iy

